name: outgoing-proxy
serviceType: managed

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

aws:
  region: ""
  azs: []

apps:
  cilliumApiEndpoint: ""

cluster:
  baseDomain: ""
  dnsMode: "public"
  name: outgoing-proxy
  vpcCIDR: 10.255.0.0/16
  organization: giantswarm
  release: 25.0.0

proxy:
  # used by renovate
  # repo: giantswarm/squid-proxy-app
  version: 0.6.1
  image: giantswarm/squid
  tag: 5.6-22.10_beta-giantswarm_gs1
